@media (max-width:1024px){
    .container{
        width: 950px;
        
    }
    .header_wraper{
        display: grid;
        grid-template-columns: 150px 550px 170px;
        padding-top: 75px;
        margin-left: 80px;
    }
    .nav_item{
        margin-left: 50px;
    }
    .advantages{
        flex-wrap: wrap;
    }
    .map_information{
        
        top: 2450px;
        left:60px;
    }

}
@media (max-width:768px){
    .container{
        width: 700px;
    }
    .header_wraper{
        display: flex;
       
        padding-top: 75px;
        margin-left: 80px;
    }
    .nav_item{
        margin-left: 10px;
        display: none;
    }
    .nav_toggle{
        display:inline-block;
        
    }
    #nav_toggle:checked ~ nav_items{
        display: flex;
        flex-direction: column;
    }
    .nav_items{
        background-color: rgba(0, 0, 0, .4);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        
        padding: 10% 5%;
    }
    .promo_image{
       flex-wrap: wrap;
    }
    .image::after{
        display: none;
    }
    .map_information{
        
       top: 2950px;
        left:60px;
    }
    .footer_text{
       margin-left: 20px;
    }

}
@media (max-width:425px){
    .container{
        width: 390px;
    }
    .portfolio{
        flex-wrap: wrap;
    }
    .map_information{
        
        top: 4650px;
         left:60px;
    }
    .footer_wraper{
        margin-top: 400px;
        flex-wrap: wrap;
    }
}
@media(max-width:375px){
    .container{
        width: 340px;
    }
    .header_text{
        width: 350px;
    }
    .header_text_title{
        font-size: 45px;
    }
}
@media(max-width:320px){
    .container{
        width: 300px;
    }
    .header_wraper{
        display: block; 
    }
    .header{
        
        height: 700px;
    }
    .header_text{
        width: 300px;
    }
    .portfolio-img{
       
        width: 300px;
    }
    .description_text{
        font-size: 14px;
    }
    .advantage_figure{
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .map_information{
        
        top: 4900px;
         left:10px;
}
